# Lesson 4 Practice: Pandas Part 2

Use this notebook to follow along with the lesson in the corresponding lesson notebook: [L04-Pandas_Part2-Lesson.ipynb](./L04-Pandas_Part2-Lesson.ipynb).

## Instructions
Follow along with the teaching material in the lesson. Throughout the tutorial sections labeled as "Tasks" are interspersed and indicated with the icon: ![Task](http://icons.iconarchive.com/icons/sbstnblnd/plateau/16/Apps-gnome-info-icon.png). You should follow the instructions provided in these sections by performing them in the practice notebook.  When the tutorial is completed you can turn in the final practice notebook. For each task, use the cell below it to write and test your code.  You may add additional cells for any task as needed or desired.

## Task 1a: Setup

- import pandas
- re-create the `df` data frame
- re-create the `iris_df` data frame

In [2]:
import pandas as pd
import numpy as np
df = pd.DataFrame(
    {'alpha': [0, 1, 2, 3, 4],
     'beta': ['a', 'b', 'c', 'd', 'e']})
iris_df = pd.read_csv('data/iris.csv')

## Task 2a: Inserting Columns

+ Create a copy of the `df` dataframe.
+ Add a new column named "delta" to the copy that consists of random numbers.

In [6]:
df = pd.DataFrame(
    {'alpha': [0, 1, 2, 3, 4],
     'beta': ['a', 'b', 'c', 'd', 'e']})

df

   alpha beta
0      0    a
1      1    b
2      2    c
3      3    d
4      4    e

In [7]:
df = pd.DataFrame(
    {'alpha': [0, 1, 2, 3, 4],
     'beta': ['a', 'b', 'c', 'd', 'e']})
new_series = pd.Series([4, 3, 2, 1, 0])
df['delta'] = new_series
df

   alpha beta  delta
0      0    a      4
1      1    b      3
2      2    c      2
3      3    d      1
4      4    e      0

## Task 3a: Missing Data

+ Create two new copies of the `df` dataframe:
+ Add a new column to both that has missing values.
+ In one copy, replace missing values with a value of your choice.
+ In the other copy, drop rows with `NaN` values.
+ Print both arrays to confirm.

In [11]:
df = pd.DataFrame(
    {'alpha': [0, 1, 2, 3, 4],
     'beta': ['a', 'b', 'c', 'd', 'e']})
new_series = pd.Series([4, 3, 2, , 0])
df['delta'] = new_series
df = df.dropna()
df
df = pd.DataFrame(
    {'alpha': [0, 1, 2, 3, 4],
     'beta': ['a', 'b', 'c', ' ', 'e']})
new_series = pd.Series([4, 3, 2, 1, 0])
df['zenon'] = new_series
df.fillna(0)
df

SyntaxError: invalid syntax (<ipython-input-11-152e3e153554>, line 4)

## Task 4a: Operations
<span style="float:right; margin-left:10px; clear:both;">![Task](./media/task-icon.png)</span>

View the [Computational tools](https://pandas.pydata.org/pandas-docs/stable/user_guide/computation.html) and [statistical methods](https://pandas.pydata.org/pandas-docs/stable/user_guide/computation.html#method-summary) documentation.
Using the list of operational functions choose five functions to use with the iris data frame.

In [12]:
iris_df.mean()
iris_df.pct_change()
iris_df.corr()
iris_df.rank()
iris_df.cov()

TypeError: unsupported operand type(s) for /: 'str' and 'str'

## Task 4b:  Apply

Practice using `apply` on either the `df` or `iris_df` data frames using any two functions of your choice other than `print`, `type`, and `np.sum`.

In [16]:
iris_df.apply(df.mean())
iris_df.apply(boradcast)

ValueError: no results

## Task 4c.  Occurances
Ientify the number of occurances for each species (virginica, versicolor, setosa) in the `iris_df` object.  *Hint*: the `value_counts` function only works on a `pd.Series` object, not on the full data frame..

In [ ]:
iris_df = pd.series
iris.pd.series.values_counts(virginica)
iris.pd.series.values_counts(versicolor)
iris.pd.series.values_counts(setosa)

## Task 5a: String Methods

+ Create a list of five strings that represent dates in the form YYYY-MM-DD (e.g. 2020-02-20 for Feb 20th, 2020).
+ Add this list of dates as a new column in the `df` dataframe.
+ Now split the date into 3 new columns with one column representing the year, another the month and another they day.
+ Combine the values from columns `alpha` and `beta` into a new column where the values are spearated with a colon.

In [22]:
labels = ['2020-02-20', '2020-03-20', '2020-05-20', '2020-08-20', '2020-14-20']
year = ['2020', '2020', '2020', '2021', '1997']
month = ['04', '12', '03', '09', '11']
day = ['1', '2', '3', '31', '26']
df['alpha'] = np.random.choice(labels, df.shape[0])
df['year'] = np.random.choice(year, df.shape[0])
df['month'] = np.random.choice(month, df.shape[0])
df['day'] = np.random.choice(day, df.shape[0])
df

        alpha beta  year month day
0  2020-14-20    a  1997    04  31
1  2020-14-20    b  2020    09   1
2  2020-14-20    c  2020    04   3
3  2020-14-20    d  1997    12   3
4  2020-02-20    e  2020    09   3

## Task 6a: Concatenation by Rows
+ Create the following dataframe
```Python
df1 = pd.DataFrame(
    {'alpha': [0, 1, 2, 3, 4],
     'beta': ['a', 'b', 'c', 'd', 'e']}, index = ['I1', 'I2' ,'I3', 'I4', 'I5'])
```
+ Create a new dataframe named `df2` with column names "delta" and "gamma" that contins 5 rows with some index names that overlap with the `df1` dataframe and some that do not.
+ Concatenate the two dataframes by rows and print the result.
+ You should see the two have combined one after the other, but there should also be missing values added. 
+ Explain why there are missing values.

In [25]:
df1 = pd.DataFrame(
    {'alpha': [0, 1, 2, 3, 4],
     'beta': ['a', 'b', 'c', 'd', 'e']}, index = ['I1', 'I2' ,'I3', 'I4', 'I5'])
df2 = dp.DataFrame( 
    {'delta': [0, 6, 9, 12, 56],
    'gamma': ['a', 'b', 'z', 'j', 'r']}, index = ['I1', 'I2', 'A1', 'A2', 'A3'])
pd.concat([df1, df2], axis=1)

NameError: name 'dp' is not defined

## Task 6b: Concatenation by Columns

Using the same dataframes, df1 and df2, from Task 6a practice:
+ Concatenate the two by columns
+ Add a "delta" column to `df1` and concatenate by columns such that there are 5 columns in the merged dataframe.
+ Respond in writing to this question (add a new 'raw' cell to contain your answer). What will happen if using you had performed an inner join while concatenating?  
+ Try the concatenation with the inner join to see if you are correct.

In [ ]:
dfa = pd.DataFrame(
    {'alpha': [0, 1, 2, 3, 4],
     'beta': ['a', 'b', 'c', 'd', 'e']}, index = ['I1', 'I2' ,'I3', 'I4', 'I5'])

#### Task 6c: Concat and append data frames
<span style="float:right; margin-left:10px; clear:both;">![Task](./media/task-icon.png)</span>

+ Create a new 5x5 dataframe full of random numbers.
+ Create a new 5x10 dataframe full of 1's.
+ Append one to the other and print it.
+ Append a single Series of zeros to the end of the appended dataframe.

In [26]:
rand_row = pd.Series(np.random.random(5) * 5)
rand_row
rand_df = pd.Series(np.random.random(5) * 10)
rand_df
rand_df.append(rand_row, ignore_index=True)

0    1.563842
1    3.128457
2    2.002853
3    7.506283
4    3.196092
5    2.423230
6    2.464258
7    3.454239
8    2.209817
9    2.017541
dtype: float64

## Task 6d: Grouping

Demonstrate a `groupby`.

+ Create a new column with the label "region" in the iris data frame. This column will indicates geographic regions of the US where measurments were taken. Values should include:  'Southeast', 'Northeast', 'Midwest', 'Southwest', 'Northwest'. Use these randomly.
+ Use `groupby` to get a new data frame of means for each species in each region.
+ Add a `dev_stage` column by randomly selecting from the values "early" and "late".
+ Use `groupby` to get a new data frame of means for each species,in each region and each development stage.
+ Use the `count` function (just like you used the `mean` function) to identify how many rows in the table belong to each combination of species + region + developmental stage.

In [28]:
iris_df['region'] = np.random.choice(['SE', 'NE', 'MW', 'SW', 'NW'], iris_df.shape[0])
groups = iris_df.groupby(['species', 'region'])

iris_df['dev_stage'] = np.random.choice(['early', 'late'], iris_df.shape[0])
groups2 = iris_df.groupby(['species', 'dev_stage', 'region'])
groups2.mean()

                             sepal_length  sepal_width  petal_length  \
species    dev_stage region
setosa     early     MW          4.914286     3.300000      1.471429
                     NE          5.125000     3.575000      1.525000
                     NW          4.833333     3.200000      1.416667
                     SE          4.833333     3.166667      1.466667
                     SW          5.025000     3.350000      1.550000
           late      MW          5.100000     3.500000      1.400000
                     NE          5.183333     3.516667      1.383333
                     NW          4.775000     3.500000      1.200000
                     SE          5.080000     3.420000      1.560000
                     SW          5.140000     3.720000      1.520000
versicolor early     MW          6.325000     2.925000      4.450000
                     NE          6.360000     2.960000      4.460000
                     NW          6.275000     2.975000      4.625000
                     SE          5.857143     2.728571      4.314286
                     SW          6.000000     2.925000      4.075000
           late      MW          5.775000     2.725000      4.350000
                     NE          5.440000     2.580000      3.920000
                     NW          5.725000     2.700000      3.925000
                     SE          5.937500     2.737500      4.262500
                     SW          5.780000     2.560000      4.220000
virginica  early     MW          6.760000     3.180000      5.720000
                     NE          6.750000     3.050000      5.550000
                     NW          6.720000     3.060000      5.740000
                     SE          5.800000     2.566667      5.000000
                     SW          6.962500     3.025000      5.850000
           late      MW          6.766667     2.900000      5.583333
                     NE          6.775000     3.000000      5.800000
                     NW          6.233333     2.900000      5.266667
                     SE          6.414286     3.000000      5.428571
                     SW          6.350000     2.925000      5.275000

                             petal_width
species    dev_stage region
setosa     early     MW         0.300000
                     NE         0.350000
                     NW         0.200000
                     SE         0.200000
                     SW         0.250000
           late      MW         0.300000
                     NE         0.200000
                     NW         0.175000
                     SE         0.240000
                     SW         0.260000
versicolor early     MW         1.375000
                     NE         1.340000
                     NW         1.500000
                     SE         1.314286
                     SW         1.325000
           late      MW         1.325000
                     NE         1.220000
                     NW         1.300000
                     SE         1.300000
                     SW         1.320000
virginica  early     MW         2.060000
                     NE         2.200000
                     NW         2.160000
                     SE         1.800000
                     SW         2.162500
           late      MW         1.916667
                     NE         1.950000
                     NW         1.950000
                     SE         2.028571
                     SW         1.975000